//teste gitpages
body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: -moz-linear-gradient(top, #000000 0%, #0e334e 45%, #f182e1 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #0b2b42 45%, #ec84dd 100%);
    background: linear-gradient(to bottom, #000000 0%, #0a273b 45%, #da6cc9 100%);
    
}


#content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

#text{
    padding-top: 10px;
    width: 100vw;
    text-align: center;
   
    padding-bottom: 20px;
    height: 20vw;
    margin-bottom: 50px;
}

#text h1{
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;

}
main{
 display: flex;
 justify-content: space-between;
}
#collum{
 width: 50vw;
}
#collum2{
    display: flex;
    width: 50vw;
    text-align: center;

}
#box1, #box2{
  color: white;
  border: 1px dotted #da6cc9;
  width: 22vw;
  text-align: center;
}
#box2{

   margin-bottom: 30px;
   
}
#collum h3{
    margin-top: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #da6cc9, -2px 1px 0 #da6cc9, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 2px 1px rgba(255,56,250,0);
    margin-bottom: 5px;
    padding-top: 5px;
}
#box1 h3{
 text-align: center;
}
h2{
    margin-top: 5px;
    margin-bottom: 5px;
}
table{
    border-spacing: 0px;
    display: flex;
    transform: translateX(-50%);
}


#slot{
    width: 22vw;
    margin-left: 3px;
    border-style: none;
    border: 3px solid #b44ea5;
    background-color: rgb(164, 151, 211);
    font-size: 20px;
    border-radius: 5px;
    border-top: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0 #000000, 2px -2px 0 #000000, -2px 1px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000, 2px 2px 1px rgba(255,56,250,0);
}

#slot:active{
    border: none;
    border-top: 3px solid #b44ea5;;
    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 7px 5px 15px 5px rgba(0,0,0,0);
 background-color: rgb(255, 255, 255);
}

#resultado{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 200;
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 5px, #FFF 0px 0px 5px, #FF2D95 0px 0px 10px, #FF2D95 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 25px, #FF2D95 0px 0px 35px;

}

td{
    padding: 0px;
    font-size: 40px;
    height: 0px;

}

.display{

    display: none;
}
#playbox{
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    padding-top: 35vh;
}
#playbox p, a{
 color: honeydew;
 font-family: 'Josefin Sans', sans-serif;
}
#Jogar{
    width: 70vw;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    background-color: black;
}

tbody{
    display: flex;
    justify-content: center;
    align-items: center;
 
}

#dinheiro{
  width: 100vw;

}
